# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.unityproject.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Callum\RiderProjects\unityproject\.idea\.idea.unityproject.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
